%button-shadow {
  box-shadow: 0 7px 18px 0 rgba(58, 61, 70, 0.32);
}

.button {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: 500;
  font-family: $body-font-family;
  height: $primary-button-height;
  line-height: $primary-button-height;
  text-transform: capitalize;
  transition: background-color 300ms ease, border 300ms ease,
    padding 250ms ease, width 300ms ease;

  @include offset-spacing(none, m);

  &.reply-forward-delete-button{
    color: var(--charcoal-grey);
    font: 14px/2.14 Roboto;
    margin-left: spacing(s);
  }

  &.reply-forward-button {
   color: var(--charcoal-grey);
   font: 500 14px Roboto;
  }
  

  &:disabled {
    cursor: not-allowed;
    opacity: 0.4;
    color: #222129;
  }

  .top {
    vertical-align: top;
  }

  .super {
    vertical-align: super;
  }

  &-primary {
    background-color: brand-color(primary, base);
    border: 0;
    color: brand-color(muted);

    &:hover:not(:disabled):not(.button-small):not(.support-active),
    &:focus:not(:disabled):not(.button-small):not(.support-active) {
      background-color: brand-color(primary, x-dark);
    }

    &:active:not(:disabled) {
      background-color: brand-color(primary, dark);
    }
    &-deleteButton {
      background-color: brand-color(alert, danger);
      &:hover:not(:disabled):not(.button-small):not(.support-active),
      &:focus:not(:disabled):not(.button-small):not(.support-active) {
        background-color: brand-color(alert, danger);
      }
    }
  }

  &-inverted {
    background-color: transparent;
    border: 1px solid brand-color(muted, base);
    color: brand-color(muted, base);

    &:hover:not(:disabled),
    &:focus:not(:disabled) {
      .fill {
        fill: brand-color(primary, base);
      }

      background-color: brand-color(muted, base);
      border: 1px solid brand-color(muted, base);
      color: brand-color(primary, base);
    }

    &:active:not(:disabled) {
      background-color: brand-color(muted, base);
    }
  }

  &-small {
    @extend .button-primary;

    @include font-scale(s);

    @include offset-spacing(xs, m);

    height: $secondary-button-height;

    min-width: 95px;
  }

  &-currentPlan {
    background-color: white;
    float: right;
    color: #c6c9d1;
    border: 1px solid #c6c9d1;
    /*  margin-bottom: 15px;
    margin-top: -16px; */
  }

  &-addModule {
    background-color: brand-color(alert, success);
    border: 0;
    float: right;
    color: white;
    /*  margin-bottom: 15px;
    margin-top: -16px; */
  }

  &-requiredPro {
    background-color: white;
    float: right;
    color: #c6c9d1;
    border: 1px solid #c6c9d1;
    /*  margin-bottom: 15px;
    margin-top: -16px; */
    padding:0px 11px;
  }

  &-added {
    background-color: #3a3c44;
    float: right;
    color: #c6c9d1;
    border: 1px solid #c6c9d1;
    /*  margin-bottom: 15px;
    margin-top: -16px; */

    @extend %page-actions;

    &-normal.button-clear .icon svg {
      fill: brand-color(alert, danger);
    }

    &.dark-text {
      color: brand-color(gray, x-dark);
    }

    span {
      display: inline-flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: center;
    }

    span svg {
      margin-right: spacing(s);
    }
  }

  &-hollow {
    @extend %page-actions;

    &-normal.button-clear .icon svg {
      fill: brand-color(alert, danger);
    }

    &.dark-text {
      color: brand-color(gray, x-dark);
    }

    span {
      display: inline-flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: center;
    }

    span svg {
      margin-right: spacing(s);
    }

    &-dottedBorder {
      border: 0.1em dashed brand-color(primary);
      height: 45px;
      width: 96.5%;
      &:hover:not(:disabled),
      &:focus:not(:disabled) {
        border: 0.1em dashed brand-color(primary);
      }
    }

    &-dottedBorderMultiChain {
      border: 0.1em dashed brand-color(primary);
      height: 45px;
      width: 66.2%;
      &:hover:not(:disabled),
      &:focus:not(:disabled) {
        border: 0.1em dashed brand-color(primary);
      }
    }
  }

  /* &-delete {
    @extend %page-actions;

    &-normal.button-clear .icon svg {
      fill: brand-color(alert, danger);
    }

    &.dark-text {
      color: brand-color(gray, x-dark);
    }

    span {
      display: inline-flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: center;
    }

    span svg {
      margin-right: spacing(s);
    }

  } */

  .icon {
    display: inline-flex;
    padding: 0 spacing(s);

    &.icon-left {
      padding-left: 0;
    }

    &.icon-right {
      padding-right: 0;
    }
  }

  &-clear {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
  }

  &-normal {
    font-weight: normal;
  }

  &.font-white {
    color: white;
  }

  &-toggled {
    transition: padding 250ms ease-in;
    padding: 4px 12px;
  }

  &-toggled:hover {
    z-index: 1000;
  }

  &-toggled .icon {
    padding: 0;
  }

  &.destroy:hover{
    border-color:#d31c3c;
  }

  &-close-icon-view-notice{
    width: 40px;
  }
}

%button-link {
  background-color: transparent;
  border: 0;
  color: brand-color(primary);
}

.button-link {
  @extend %button-link;
}

.button-link-inline {
  @extend %button-link;

  height: auto;
  outline: none;
  padding: 0;
  text-transform: none;

  &__small {
    @include font-scale(s);

    @include offset-spacing(xs, m);
    height: $secondary-button-height;
    color: brand-color(gray, dark);

    &:hover {
      color: brand-color(primary);
    }
  }
}

.button-group-horizontal {
  [class^="button"] {
    @include inline(s);
  }

  &-border {
    border: 0.1em solid #007dc3;
  }
}

.button-group-vertical {
  display: flex;
  flex-direction: column;

  .button {
    margin-bottom: spacing(m);
    width: 100%;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.buttonVisibility {
  visibility: hidden;
}
