
.button {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: 500;

  text-transform: capitalize;
  transition: background-color 300ms ease, border 300ms ease,
    padding 250ms ease, width 300ms ease;



  .icon {
    display: inline-flex;
    padding: 0 spacing(s);

    &.icon-left {
      padding-left: 0;
    }

    &.icon-right {
      padding-right: 0;
    }
  }

  &-clear {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
  }

  &-normal {
    font-weight: normal;
  }

  &.font-white {
    color: white;
  }

  &-toggled {
    transition: padding 250ms ease-in;
    padding: 4px 12px;
  }

  &-toggled:hover {
    z-index: 1000;
  }

  &-toggled .icon {
    padding: 0;
  }

  &.destroy:hover{
    border-color:#d31c3c;
  }

  &-close-icon-view-notice{
    width: 40px;
  }
}

%button-link {
  background-color: transparent;
  border: 0;
  color: (primary);
}

.button-link {
  @extend %button-link;
}

.button-link-inline {
  @extend %button-link;

  height: auto;
  outline: none;
  padding: 0;
  text-transform: none;

.button-group-vertical {
  display: flex;
  flex-direction: column;

  .button {
    margin-bottom: spacing(m);
    width: 100%;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
}