.quickAccessIcons {
    color: gray;
    opacity: 60%;
}
.quickAccessIconsContainer {
    margin-top: 1vh;
    padding-left: 2vh;
    padding-top: 10vh;
<<<<<<< HEAD
=======
    position: fixed;
>>>>>>> 0bcb8f251a4a8c3edada1795b35c13c4b3f47722
}