.wr-logo-container {

  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  text-align: center;

  .loader-logo {  
  visibility: visible;
  width: 100%;

  }

}