.wrlogo-container {
  padding-left: 700px;
  align-items: center;
  z-index: 1000;
  width: 50px;

  display: flex;
  flex-direction: column;
  text-align: center;

  .loader-logo {
  visibility: visible;
  width: 100%;
  }
}