.wrlogo-container {
  width: 50px;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;

<<<<<<< HEAD

=======
  .loader-logo {
  visibility: visible;
  width: 100%;
  }
>>>>>>> 2e752a8ea34c8887e318c14d52b0a11ffd2f3fb5
}