<<<<<<< HEAD
=======
.main-content {
  margin-top: 8px;
  margin-left: 44px;
  

  min-width: 100%;
  flex-direction: row;
  align-items: center;
}

.main {
  display: flex;
  width: max-content;
}
>>>>>>> 0bcb8f251a4a8c3edada1795b35c13c4b3f47722
