<<<<<<< HEAD
.logo {
    margin: 0;
    height: 30px;
    padding-top: 5px;
=======
.logo-container {
    margin: 0;
    height: 30px;
    margin-top: 25px;
>>>>>>> 0bcb8f251a4a8c3edada1795b35c13c4b3f47722
    margin-left: 5vh;
}
.leftContainer {
    display: flex;
    justify-content: flex-start;
 
}

