 // .header-appbar {
//   flex-direction: row;
// }

// .button {
//   color: inherit;
// }

// .MuiButtonBase-root {
//  margin-top: 5em;
// }

// .appBar {
//   background-color: white;
//   position: fixed;
//   border-bottom: 5px solid #ff8200;
//   height: 7vh;
// }

// .centerContainer {
//   display: flex;
//   flex-direction: row;
//   align-items: center;
// }

// .rightContainer {
//   margin-left: 10vh;
//   align-items: center;
//   display: flex;
//   justify-content: flex-end;
// }

// .button {
//   color: inherit;
// }

// .drawer-header {
//   display: flex;
//   align-items: center;
//   padding: 0 1;
//   justify-content: flex-end;
// }

// .drawer {
//   width: 30%;
//   flex-shrink: 0;
//   position: absolute;
// }

a:link {
  text-decoration: none;
  color: #004B87;
}

// a:visited {
//   text-decoration: none;
// }

// a:hover {
//   text-decoration: none;
// }

// a:active {
//   text-decoration: none;
// }

// .Collapsible {
//   background-color: white;
// }

.Collapsible:hover{
  opacity: 0.8;
}

// .Collapsible__trigger:hover {
//   overflow: visible;
// }

.Collapsible__trigger {
  display: block;
  font-weight: 400;
  text-decoration: none;
  color: #333333;
  position: relative;
  border: 1px solid white;
  padding: 0.8vh;
  background: #004B87;
  color: white;
}

// .easy-access-icons {

// }


// .header-container {
//   background-color: red;
//   position: fixed;
//   border-bottom: 5px solid #ff8200;
//   height: 7vh;
// }


