.app-header {
  text-align: center;
  display: flex;

.logo {
    margin: 0;
    height: 30px;
    padding-top: 5em;
    margin-left: 5vh;
}

  .flex {
    display: flex;

  .app-bar {
    padding-top: 205px;
    background-color: white;
    position: fixed;
    border-bottom: 5px solid #ff8200;
    height: 7vh;

    .button {
      color: inherit;
    }

    rightContainer {
      align-items: center;
      display: flex;
    }

    }
    }
}
.MuiButtonBase-root {
 margin-top: 5em;
}

.button {
  color: inherit;
}

.drawer-header {
  display: flex;
  align-items: center;
  padding: 0 1;
  justify-content: flex-end;
}

.drawer {
  width: 30%;
  flex-shrink: 0;
  position: absolute;
}

.drawer-paper {
  width: 100%;
  height: 56%,
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}
.Collapsible {
  background-color: white;
}
.Collapsible:hover{
  opacity:0.8;
}

.Collapsible__contentInner {
  padding: 10px;
  border: 1px solid #ebebeb;
  border-top: 0; }
  .Collapsible__contentInner p {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 20px; }
    .Collapsible__contentInner p:last-child {
      margin-bottom: 0; }

.Collapsible__trigger {
  display: block;
  font-weight: 400;
  text-decoration: none;
  color: #333333;
  position: relative;
  border: 1px solid white;
  padding: 10px;
  background: #004B87;
  color: white;
 }
 

.CustomTriggerCSS {
  background-color: lightcoral;
  transition: background-color 200ms ease; 
}

.Collapsible__custom-sibling {
  padding: 5px;
  font-size: 12px;
  background-color: #FFF;
  color: black;
}

.value-input {
  margin-top: 10px;
}
