.root {

  text-align: center;
  display: flex;
 
  .flex {
    display: flex;
    
  .logo {
    margin: 0; 
    height: 30px; 
    padding: 0;
    margin-left: 5vh;

    }

  .appBar {
    background-color: white;
    position: fixed;
    border-bottom: 5px solid #ff8200;
    height: 7vh;  

    .button {
      color: inherit;
    }

    rightContainer {
      align-items: center;
      display: flex;
    }

    }
    }
}
