.WR-Loader {
  visibility: hidden;
  }

  
// .root {
//   width: 100%; 
//   text-align: center;
//   display: flex;
// }

<<<<<<< HEAD
// .reports-enhanced {
//   width: 100%; 
//   flex-direction: row;
//   text-align: center;
// }

=======
.reports-enhanced {
  width: 100%; 
  flex-direction: row;
  text-align: center;
}
>>>>>>> 0bcb8f251a4a8c3edada1795b35c13c4b3f47722


