.root {
  height:100vh;

  .appBar-unauthorized {
    background-color: white;
    border-bottom: 5px solid #ff8200;
    height: 7vh;
  }

  .logo {
    margin: 0;
    margin-top: 1vh;
    height: 30px;
    width: 100px;
    margin-left: 2vh;
  }
  
  .message-container {
    // margin-top: 20vh;
    margin: auto;
    height: 60vh;
    padding-top: 20vh;
    background-image: url("../../assets/unauthorizedPage.png");
    
    .title{
      padding: 40px 40px 5px 40px;
      border-radius: 15px 15px 0 0;
    }
    
    p {
      padding-bottom: 40px;
      padding-left: 40px;
      padding-right: 40px;
      border-radius: 0 0 15px 15px;
    }

    .title, p {
      color: white;
      width: 60%;
      margin: auto;
      background-color: black;
      opacity: 0.8;
    }
    a {
      color: #004B87;
    }
  
    a:hover {
      background-color: white;
    }
  }
}