.root {

  text-align: center;
  display: flex;


.logo {
    margin: 0; 
    height: 30px; 
    padding: 0;
    margin-left: 5vh;

}

  .flex {
    display: flex;

  .appBar {
    background-color: white;
    position: fixed;
    border-bottom: 5px solid #ff8200;
    height: 7vh;  

    .button {
      color: inherit;
    }

    rightContainer {
      align-items: center;
      display: flex;
    }

    }
  }
}

.load-plan {
  color: white;
  text-align: center;
  background-color: Black;
}

.app-view {
  flex-direction: row;
  text-align: center;
}